body{
  background-color: bisque;
  font-family: 'Courier New', Courier, monospace;
}

.unordered{
  text-align: center;
  margin: 2px;
  padding: 5px;
}

#none{
  list-style: none;
  padding: 12px;
  margin: 8px;
}

.head{
  color: rgb(255, 136, 0);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  background-color: aqua;
}

.head1{
  text-align: center;
  color: blue;
  background-color: aquamarine;
}
.head4{
  color: aqua;
  background-color: blueviolet;
  font-size: large;
  font-weight: bold;
}

#ind{
  color: chartreuse;
  background-color: rgb(41, 23, 2);
}

.head2{
  color: cornflowerblue;
  background-color: yellow;
  text-align: center;
}

.head3{
  color: crimson;
  background-color: yellowgreen;
  text-align: center;
}

.pic{
  margin: 8px auto;
  text-align: center;
}